
<div class="header">

  <div class="warnning">
    <h4>What your action</h4>

  </div>
</div>

<div class="container">
  <div class="content">
    <div class="text">
      <p>
        <span>If Homestay License not matched please choose <span class="fw-bold fs-5"> REJECT </span></span>

      </p>


    </div>
    <div class="button">
      <button color="warn" mat-button mat-dialog-close mat-raised-button type="button" (click)="reject()">Reject</button>
      <button color="" mat-button mat-dialog-close mat-raised-button type="button" >Cancel</button>
    </div>
  </div>
</div>

