.card-header{
  h1:after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background: #ee2c74;
    margin-top: 5px;
  }
}

.posttitle-text {
  font-weight: 500;
  border-left: 3px solid #ee2c74;
  padding-left: 10px;
  line-height: 1.5;
  min-height: 27px;
}
.example-headers-align .mat-expansion-panel-header-description {
  justify-content: flex-end;
  align-items: center;
}
.example-headers-align .mat-expansion-panel-header{
  height: 60px;
}
.example-headers-align .mat-expansion-panel{
  box-shadow: 0 2px 15px -3px rgba(0,0,0,0.07),0 10px 20px -2px rgba(0,0,0,0.04);
}

