<div class="header">

  <div class="warnning">
    <h4>What your action</h4>

  </div>
</div>
<form (ngSubmit)="reject()" #myForm="ngForm">
  <div class="container">
    <div class="content">
      <div class="text">
        <p>
          <span>Choose reason (IF choose reject):</span>
          <mat-form-field appearance="outline" class=" select-form">
            <mat-select value="NOT_MATCHED" [(ngModel)]="status" required name="reject">
              <mat-option value="NOT_MATCHED" class="text-capitalize">Id Nunber Not Matched</mat-option>
              <mat-option value="FRONT_IMAGE" class="text-capitalize">Invalid Front Image</mat-option>
              <mat-option value="BACK_IMAGE" class="text-capitalize">Invalid Back Image</mat-option>
              <mat-option value="ORTHER" class="text-capitalize">Orther</mat-option>
            </mat-select>
          </mat-form-field>
        </p>
        <div class="row align-items-center text-center" *ngIf="status == 'ORTHER'">
          <div class="col-2">
            <p>Orther:</p>
          </div>
          <div class="col-10">
            <mat-form-field class="example-full-width  w-100">
              <input matInput  [(ngModel)]="orther" class="" [ngModelOptions]="{standalone: true}" name="orther">
            </mat-form-field></div>
        </div>


      </div>
      <div class="button">
        <button color="warn" mat-button mat-dialog-close mat-raised-button type="submit"
          [disabled]="!myForm.valid">Reject</button>
        <button color="" mat-button mat-dialog-close mat-raised-button type="button">Cancel</button>
      </div>
    </div>
  </div>
</form>
