.card-header{
  h1:after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background: #ee2c74;
    margin-top: 5px;
  }
}

.posttitle-text {
  font-weight: 500;
  border-left: 3px solid #ee2c74;
  padding-left: 10px;
  line-height: 1.5;
  min-height: 27px;
}
:host::ng-deep .mat-mdc-dialog-content{
  max-height: 80vh;
}
