

<mat-dialog-content class="mat-typography">
        <!-- Booking  -->
        <div class=" my-3" style="width: 70vw;  ">
          <div class="card">
            <div class="card-body p-0">



              <!-- Booking information  -->
              <div class="card mb-3 bg-body shadow-none">
                <div class="card bg-body shadow-none">
                  <div class="card-header">
                    <div class="row w-100 m-0 p-0">
                      <div class="col-8 m-0 p-0">
                        <h5 class="posttitle-text mb-0">Booking Information</h5>
                      </div>
                      <div class="col-4 m-0 p-0">
                        <div class="d-flex flex-row justify-content-end ">
                          <button *ngIf="data.type == 'ci'" mat-stroked-button class="border border-success me-2"
                            (click)="checkin(booking.homestayType, booking.id, booking.bookingHomestays[0].homestay.id)">
                            Check-In
                          </button>
                          <button *ngIf="data.type == 'co'" mat-stroked-button class="border border-danger"
                          (click)="checkout(booking.homestayType, booking.id, booking.bookingHomestays[0].homestay.id)">Check-Out</button>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="card-body shadow-none">
                    <div class="row w-100 p-0 m-0">
                      <div class="col m-0 p-0 pe-2">
                        <div class="row w-100 m-0 p-0">
                          <div class="col m-0 p-0">
                            <div class="row w-100 m-0 p-0">
                              <div class="col-4 m-0 p-0">
                                <span class="text-muted text-uppercase fs-7 text-break text-wrap">booking code</span>
                              </div>
                              <div class="col-8">
                                <span> {{booking.code}} </span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <hr>
                        <div class="row w-100 m-0 p-0">
                          <div class="col m-0 p-0">
                            <div class="row w-100 m-0 p-0">
                              <div class="col-4 m-0 p-0">
                                <span class="text-muted text-uppercase fs-7 text-break text-wrap">booking from</span>
                              </div>
                              <div class="col-8">
                                <span> {{booking.bookingFrom}} </span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <hr>
                        <div class="row w-100 m-0 p-0">
                          <div class="col m-0 p-0">
                            <div class="row w-100 m-0 p-0">
                              <div class="col-4 m-0 p-0">
                                <span class="text-muted text-uppercase fs-7 text-break text-wrap">booking to</span>
                              </div>
                              <div class="col-8">
                                <span> {{booking.bookingTo}} </span>
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>

                    </div>



                  </div>
                </div>
              </div>
              <!-- Homestay  -->
              <div class="card mb-3 bg-body shadow-none">
                <div class="card bg-body shadow-none">
                  <div class="card-header">
                    <div class="row w-100 m-0 p-0">
                      <div class="col m-0 p-0">
                        <h5 class="posttitle-text mb-0">Homestay </h5>
                      </div>

                    </div>
                  </div>

                  <div class="card-body shadow-none">
                    <div class="row w-100 p-0 m-0">
                      <div class="col m-0 p-0 pe-2">

                        <div class="row w-100 m-0 mb-2 p-0"
                          *ngFor="let homestay of booking.bookingHomestays; let i = index">
                          <hr *ngIf="i >1">
                          <div class="col-6 m-0 p-0">
                            <div class="row w-100 m-0 p-0">
                              <div class="col m-0 p-0">
                                <a class="text-uppercase text-primary" routerLink="Landlord/Homestay/HomestayDetail"
                                  (click)="getHomestayName(homestay.homestay.name)" mat-dialog-close>
                                  {{homestay.homestay.name}}
                                  <mat-icon aria-hidden="false" class="fs-6 d-inline">open_in_new</mat-icon>
                                </a>
                              </div>

                            </div>
                          </div>
                          <div class="col-6 m-0 p-0">
                            <div class="row w-100 m-0 p-0">
                              <div class="col-6 m-0 p-0">

                              </div>
                              <div class="col-6">
                                <span class="text-success">{{homestay.totalBookingPrice | currency:'VND'}} </span>
                              </div>
                            </div>
                          </div>

                        </div>

                      </div>

                    </div>



                  </div>
                </div>
              </div>

              <!-- Service information  -->
              <div class="card bg-body shadow-none">
                <div class="card bg-body shadow-none">
                  <div class="card-header">
                    <div class="row w-100 m-0 p-0">
                      <div class="col-8 m-0 p-0">
                        <h5 class="posttitle-text mb-0">Service</h5>
                      </div>
                      <div class="col-4 m-0 p-0">
                        <div class="d-flex flex-row justify-content-end ">
                        </div>
                      </div>
                    </div>
                  </div>


                  <div class="card-body shadow-none">
                    <div class="row w-100 p-0 m-0">
                      <div class="col m-0 p-0 pe-2">

                        <div class="row w-100 m-0 mb-2 p-0"
                          *ngFor="let service of booking.bookingHomestayServices ; let i = index">
                          <hr *ngIf="i >1">
                          <div class="col-6 m-0 p-0">
                            <div class="row w-100 m-0 p-0">
                              <div class="col m-0 p-0">
                                <span class="text-muted text-uppercase">{{service.homestayService.name}}</span>
                              </div>

                            </div>
                          </div>
                          <div class="col-6 m-0 p-0">
                            <div class="row w-100 m-0 p-0">
                              <div class="col-6 m-0 p-0">

                              </div>
                              <div class="col-6">
                                <span class="text-success">{{service.totalServicePrice | currency:'VND'}} </span>
                              </div>
                            </div>
                          </div>

                        </div>

                      </div>

                    </div>



                  </div>
                </div>
              </div>
              <!-- Price  -->
              <div class="card mb-2 bg-body shadow-none">
                <div class="card bg-body shadow-none">
                  <div class="card-body">
                    <div class="row w-100 m-0 p-0">
                      <div class="col-6 m-0 p-0">
                        <h5 class="posttitle-text mb-0">TOTAL BOOKING PRICE:</h5>
                      </div>
                      <div class="col-6 m-0 p-0">
                        <div class="row w-100 m-0 p-0">
                          <div class="col-6 m-0 p-0">
                          </div>
                          <div class="col-6">
                            <span class="text-success fs-4">{{booking.totalBookingPrice | currency : "VND"}} </span>
                          </div>
                        </div>
                        <!-- <div class="d-flex flex-row justify-content-end ">
                          <span class="text-success fs-4">{{booking.totalBookingPrice | currency : "VND"}} </span>
                        </div> -->
                      </div>
                    </div>
                  </div>


                </div>
              </div>



            </div>
          </div>

        </div>

</mat-dialog-content>

