.container-fluid {
  margin: 0%;
  margin-top: 1%;
  width: 100%;

  .body {
    margin-top: 1%;

    .body-container {
      margin: 1% 1%;

      .mat-elevation-z8 {
        box-shadow: none !important;
      }

      table {
        width: auto;
      }

      .mat-form-field {
        font-size: 14px;
        width: 100%;
      }

      td,
      th {
        width: 10%;
      }
    }

    .border-bottom-text {
      border: 0 solid;
      border-color: inherit;
    }
  }

  .table {
    tbody {
      tr {
        height: 57px;
        line-height: 40px;
      }
    }
  }
}

.card {
  box-shadow: 0 0 5px #c4cacc;
  padding: 0 1%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}
