<section class="w-100 ">
  <div class="container mt-3">
    <div class="row w-100 m-0">
      <div class="col">
        <div class="card border-0 cate-card  shadow-none">
          <div class="card-body">
            <h4 class="fw-normal mb-4 text-wrap text-break">List your property on Staywithme.com and start welcoming
              guests in no time!</h4>

                <div class="row mt-4 px-3">
                  <div class="col-6 d-flex align-items-center justify-content-center">
                    <div class="card">
                      <div class="card-body d-flex flex-column justify-content-center align-items-center">
                        <div class="image d-flex justify-content-center align-items-center">
                          <img class="img-fluid" src="/assets/images/regis-homestay.png">
                        </div>
                        <div class="body-content text-center">
                          <h4 class="mb-3">Homestay</h4>
                          <span class="fw-normal text-wrap text-break">A shared home where the guest has a private room
                            and the host lives and is on site. Some facilities are shared between hosts and
                            guests.</span>
                        </div>
                        <div class=" w-100 mt-4 button-choose">
                          <button mat-raised-button class="w-100 " routerLink="RegisterHomestay">List your
                            property</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-6 d-flex align-items-center justify-content-center">
                    <div class="card">
                      <div class="card-body d-flex flex-column justify-content-center align-items-center">
                        <div class="image image-bloc d-flex justify-content-center align-items-center">
                          <img class="img-fluid" src="/assets/images/regis-bloc.png">
                        </div>
                        <div class="body-content text-center">
                          <h4 class="mb-3">Bloc homestay</h4>
                          <span class="fw-normal text-wrap text-break">A bloc homestay with mutilple homestay where the
                            guest has a private homestay and is on site. Some facilities are shared between hosts and
                            guests.</span>
                        </div>
                        <div class=" w-100 mt-4 button-choose">
                          <button mat-raised-button class="w-100 " routerLink="RegisterBlocHomestay">List your
                            property</button>
                        </div>
                      </div>
                    </div>
                  </div>


                </div>


          </div>

        </div>
      </div>
    </div>
  </div>
</section>
