<div class="container">

  <mat-stepper linear #stepper>
    <!-- <mat-stepper #stepper> -->
    <!-- Basic Information -->
    <mat-step editable [stepControl]="informationFormGroup">
      <form [formGroup]="informationFormGroup" (ngSubmit)="informationForm()" #formone="ngForm">
        <ng-template matStepLabel>Basic Information</ng-template>


        <div class="row w-100 justify-content-center">
          <div class="col-xxl-8 col-xl-8 col-lg-9 col-9">
            <h2 class="my-4">Basic Information</h2>
            <div class="input-content basic-information card">
              <div class="add-input card-body ">
                <div class="row">
                  <div class="col">
                    <div class="mb-5">

                      <!-- Homestay's Name -->
                      <div class="mb-3">
                        <h6 class="mb-0">Homestay's Name <span class="text-danger">*</span></h6>
                        <input type="text" name="homestayNameInput" class="form-control" required mdbInput mdbValidate
                          formControlName="homestayName">
                      </div>
                      <!-- Available Rooms -->
                      <div class="mb-3 row">
                        <div class="col-6">
                          <h6 class="mb-0">Total Rooms <span class="text-danger">*</span></h6>
                          <input type="number" name="homestayTotalRoomInput" class="form-control" required mdbInput
                            mdbValidate formControlName="number" min="1" max="99" maxlength="2" minlength="1"
                            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                        </div>
                        <div class="col-6">
                          <h6 class="mb-0">Room Capacity <span class="text-danger">*</span></h6>
                          <input type="number" name="homestayRoomCapacityInput" class="form-control" required mdbInput
                            mdbValidate formControlName="roomCapacity" min="1" max="99" maxlength="2" minlength="1"
                            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                        </div>

                      </div>
                      <!-- Address -->
                      <div class="mb-3">
                        <h6 class="mb-0">Address <span class="text-danger">*</span></h6>
                        <input type="text" name="homstayAddressInput" class="form-control" required mdbInput mdbValidate
                          formControlName="address" [matAutocomplete]="auto" autocomplete="off"
                          (input)="getAutocomplete($event)">

                        <mat-autocomplete #auto="matAutocomplete">
                          <mat-option *ngFor="let place of predictions " [value]="place.description">
                            {{place.description}}
                          </mat-option>
                        </mat-autocomplete>
                      </div>
                    </div>
                    <hr>
                    <div class="mb-5">
                      <div class="mb-3">
                        <span>
                          <h6 class=" text-break">Upload at a photo of your <span class="fw-bold fs-5">Homestay
                              License</span>.<span class="text-danger">*</span></h6>
                        </span>
                      </div>


                      <div ngx-dropzone class="upload" [multiple]="false" [accept]="'image/*'"
                        (change)="onSelectHomestayLicense($event)" *ngIf="homestayLicenseFiles.length==0">
                        <ngx-dropzone-label>
                          <div>
                            <i class="fas fa-cloud-upload-alt icon-upload"></i>
                            <header>Drop files here or click to upload *</header>
                          </div>
                        </ngx-dropzone-label>
                      </div>


                      <div class="wrapper text-center" *ngFor="let f of homestayLicenseFiles">
                        <ngx-dropzone-image-preview class=" overflow-hidden " ngProjectAs="ngx-dropzone-preview"
                          [file]="f" [removable]="true" (removed)="onRemoveHomestayLicense(f)">
                        </ngx-dropzone-image-preview>
                        <ngx-dropzone-label ngProjectAs="ngx-dropzone-preview" (removed)="onRemoveHomestayLicense(f)">
                          {{ f.name }}
                        </ngx-dropzone-label>
                      </div>


                    </div>
                    <hr>


                    <div class="add-btn d-flex flex-row ">
                      <!-- <button class="btn-reset" mat-raised-button type="reset">Reset</button> -->
                      <button class="btn-next w-100" color="primary" mat-raised-button type="submit ">Continue</button>
                    </div>


                  </div>
                </div>
              </div>
            </div>
          </div>



        </div>

      </form>
    </mat-step>
    <!-- Basic Information -->

    <!-- Facility -->
    <mat-step editable [stepControl]="facilityFormGroup">
      <ng-template matStepLabel>Facility</ng-template>


      <div class="row w-100 justify-content-center">
        <div class="col-xxl-8 col-xl-8 col-lg-9 col-9 ">
          <h2 class="my-4">What can pasengers use at your homestay?</h2>
          <div class="input-content basic-information card">
            <div class="add-input card-body ">
              <div class="row">
                <div class="col">

                  <h5 class="mb-2">Common Facility</h5>
                  <form [formGroup]="facilityFormGroup" (ngSubmit)="facilityForm()" #formtwo="ngForm">
                    <!-- TV -->
                    <div class="row mb-2">
                      <div
                        class="col-xxl-1 col-xl-1 col-lg-1 col-md-1 d-flex align-items-center p-0 justify-content-center">
                        <i class="fas fa-tv"></i>
                      </div>
                      <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 d-flex align-items-center">
                        <span>TV</span>
                      </div>
                      <div
                        class="col-xxl-1 col-xl-1 col-lg-1 col-md-1 d-flex align-items-center p-0 justify-content-center">
                        <mat-checkbox color="primary" formControlName="tv" (change)="enableInputTv()"></mat-checkbox>
                      </div>
                      <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5">
                        <div class="col-input">
                          <input name="tvInput" type="number" pattern="[0~9]*" min="1" class="form-control"
                            minlength="1" maxlength="3" matInput placeholder="Amount" formControlName="tvAmount"
                            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" />
                        </div>
                      </div>
                      <div class="col-xxl-1 col-xl-1 col-lg-1 col-md-1"></div>
                    </div>
                    <!-- TV -->

                    <!-- Wifi -->
                    <div class="row mb-2">
                      <div
                        class="col-xxl-1 col-xl-1 col-lg-1 col-md-1 d-flex align-items-center p-0 justify-content-center">
                        <i class="fa-solid fa-wifi"></i>
                      </div>
                      <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 d-flex align-items-center">
                        <span>Wifi</span>
                      </div>
                      <div
                        class="col-xxl-1 col-xl-1 col-lg-1 col-md-1 d-flex align-items-center p-0 justify-content-center">
                        <mat-checkbox color="primary" formControlName="wifi"
                          (change)="enableInputWifi()"></mat-checkbox>
                      </div>
                      <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5">
                        <div class="col-input">
                          <input name="wifiInput" type="number" pattern="[0~9]*" min="1" class="form-control"
                            minlength="1" maxlength="3" matInput placeholder="Amount" formControlName="wifiAmount"
                            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" />
                        </div>
                      </div>
                      <div class="col-xxl-1 col-xl-1 col-lg-1 col-md-1"></div>
                    </div>
                    <!-- Wifi -->

                    <!-- fan -->
                    <div class="row mb-2">
                      <div
                        class="col-xxl-1 col-xl-1 col-lg-1 col-md-1 d-flex align-items-center p-0 justify-content-center">
                        <i class="fa-solid fa-fan"></i>
                      </div>
                      <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 d-flex align-items-center">
                        <span>Fan</span>
                      </div>
                      <div
                        class="col-xxl-1 col-xl-1 col-lg-1 col-md-1 d-flex align-items-center p-0 justify-content-center">
                        <mat-checkbox color="primary" formControlName="fan" (change)="enableInputfan()"></mat-checkbox>
                      </div>
                      <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5">
                        <div class="col-input">
                          <input name="fanInput" type="number" pattern="[0~9]*" min="1" class="form-control"
                            minlength="1" maxlength="3" matInput placeholder="Amount" formControlName="fanAmount"
                            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" />
                        </div>
                      </div>
                      <div class="col-xxl-1 col-xl-1 col-lg-1 col-md-1"></div>
                    </div>
                    <!-- fan -->
                    <!-- air-condition -->
                    <div class="row mb-2">
                      <div
                        class="col-xxl-1 col-xl-1 col-lg-1 col-md-1 d-flex align-items-center p-0 justify-content-center">
                        <i class="fa-regular fa-snowflake"></i>
                      </div>
                      <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 d-flex align-items-center">
                        <span>Air-condition</span>
                      </div>
                      <div
                        class="col-xxl-1 col-xl-1 col-lg-1 col-md-1 d-flex align-items-center p-0 justify-content-center">
                        <mat-checkbox color="primary" formControlName="airCondition"
                          (change)="enableInputAirCondition()"></mat-checkbox>
                      </div>
                      <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5">
                        <div class="col-input">
                          <input name="airConditionInput" type="number" pattern="[0~9]*" min="1" class="form-control"
                            minlength="1" maxlength="3" matInput placeholder="Amount"
                            formControlName="airConditionAmount"
                            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" />
                        </div>
                      </div>
                      <div class="col-xxl-1 col-xl-1 col-lg-1 col-md-1"></div>
                    </div>
                    <!-- airCondition -->
                    <!-- wardrobe -->
                    <div class="row mb-2">
                      <div
                        class="col-xxl-1 col-xl-1 col-lg-1 col-md-1 d-flex align-items-center p-0 justify-content-center">
                        <i class="fa-solid fa-door-closed"></i>
                      </div>
                      <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 d-flex align-items-center">
                        <span>Wardrobe</span>
                      </div>
                      <div
                        class="col-xxl-1 col-xl-1 col-lg-1 col-md-1 d-flex align-items-center p-0 justify-content-center">
                        <mat-checkbox color="primary" formControlName="wardrobe"
                          (change)="enableInputwardrobe()"></mat-checkbox>
                      </div>
                      <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5">
                        <div class="col-input">
                          <input name="wardrobeInput" type="number" pattern="[0~9]*" min="1" class="form-control"
                            minlength="1" maxlength="3" matInput placeholder="Amount" formControlName="wardrobeAmount"
                            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" />
                        </div>
                      </div>
                      <div class="col-xxl-1 col-xl-1 col-lg-1 col-md-1"></div>
                    </div>
                    <!-- wardrobe -->
                    <!-- table -->
                    <div class="row mb-2">
                      <div
                        class="col-xxl-1 col-xl-1 col-lg-1 col-md-1 d-flex align-items-center p-0 justify-content-center">
                        <mat-icon class="mat-18">table_restaurant</mat-icon>
                      </div>
                      <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 d-flex align-items-center">
                        <span>Table</span>
                      </div>
                      <div
                        class="col-xxl-1 col-xl-1 col-lg-1 col-md-1 d-flex align-items-center p-0 justify-content-center">
                        <mat-checkbox color="primary" formControlName="table"
                          (change)="enableInputtable()"></mat-checkbox>
                      </div>
                      <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5">
                        <div class="col-input">
                          <input name="tableInput" type="number" pattern="[0~9]*" min="1" class="form-control"
                            minlength="1" maxlength="3" matInput placeholder="Amount" formControlName="tableAmount"
                            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" />
                        </div>
                      </div>
                      <div class="col-xxl-1 col-xl-1 col-lg-1 col-md-1"></div>
                    </div>
                    <!-- table -->
                    <!-- chair -->
                    <div class="row mb-2">
                      <div
                        class="col-xxl-1 col-xl-1 col-lg-1 col-md-1 d-flex align-items-center p-0 justify-content-center">
                        <i class="fa-solid fa-couch"></i>
                      </div>
                      <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 d-flex align-items-center">
                        <span>Chair</span>
                      </div>
                      <div
                        class="col-xxl-1 col-xl-1 col-lg-1 col-md-1 d-flex align-items-center p-0 justify-content-center">
                        <mat-checkbox color="primary" formControlName="chair"
                          (change)="enableInputchair()"></mat-checkbox>
                      </div>
                      <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5">
                        <div class="col-input">
                          <input name="chairInput" type="number" pattern="[0~9]*" min="1" class="form-control"
                            minlength="1" maxlength="3" matInput placeholder="Amount" formControlName="chairAmount"
                            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" />
                        </div>
                      </div>
                      <div class="col-xxl-1 col-xl-1 col-lg-1 col-md-1"></div>
                    </div>
                    <!-- chair -->
                    <br>
                    <hr>
                  </form>
                  <!-- Additional Facility -->
                  <h5 class="mb-2">Additional Facility</h5>
                  <div class="additional-facility">
                    <div *ngFor="let value of newFacility; let i = index">
                      <div class="row mb-2">
                        <div
                          class="col-xxl-1 col-xl-1 col-lg-1 col-md-1 d-flex align-items-center justify-content-center p-0">
                          <i class="fa-solid fa-plus"></i>
                        </div>
                        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
                          <input name="newFacility" type="text" class="form-control" placeholder="New Facility"
                            [(ngModel)]="value.name" autocomplete="off" name="value{{i}}" #value{{i}}="ngModel"
                            [ngModelOptions]="{standalone: true}" />
                        </div>
                        <div
                          class="col-xxl-1 col-xl-1 col-lg-1 col-md-1 d-flex align-items-center p-0 justify-content-center">
                          <mat-checkbox color="primary" [(ngModel)]="value.status" name="value{{i}}"
                            [ngModelOptions]="{standalone: true}"></mat-checkbox>
                        </div>

                        <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5">
                          <div class="col-input">
                            <input name="amount{{i}}" type="number" autocomplete="off" [disabled]="!value.status"
                              minlength="1" maxlength="3" pattern="[0~9]*" min="1" class="form-control" matInput
                              max="99" placeholder="Amount" [(ngModel)]="value.price"
                              [ngModelOptions]="{standalone: true}"
                              oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" />
                          </div>
                        </div>
                        <div
                          class="col-xxl-1 col-xl-1 col-lg-1 col-md-1 d-flex align-items-center p-0 justify-content-center click rounded-2"
                          matRipple (click)="removeFacility(i)">
                          <i class="fa-solid fa-xmark"></i>
                        </div>
                      </div>
                    </div>
                    <div class="click mb-2 rounded-3 btn-add-facility w-50 d-flex align-items-center" matRipple
                      (click)="addFacility()">
                      <div class="row w-100">
                        <div
                          class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 d-flex align-items-center justify-content-center p-0">
                          <i class="fa-solid fa-plus"></i>
                        </div>
                        <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-8 d-flex align-items-center  ">
                          <h6 class="m-0"> Add Facility</h6>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Button -->
                  <form [formGroup]="facilityFormGroup" (ngSubmit)="facilityForm()" #formtwo="ngForm">
                    <br>
                    <hr>
                    <div class="add-btn d-flex flex-row ">
                      <button class="btn-back" mat-raised-button matStepperPrevious>Back</button>
                      <button class="btn-next w-100" color="primary" mat-raised-button matStepperNext>Continue</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </mat-step>
    <!-- Facility -->

    <!-- House Rules -->
    <mat-step editable>
      <ng-template matStepLabel>House Rules</ng-template>

      <form [formGroup]="houseRuleFormGroup" (ngSubmit)="houseRuleForm()" #formthree="ngForm">
        <div class="row w-100 justify-content-center">
          <div class="col-xxl-8 col-xl-8 col-lg-9 col-9">
            <h2 class="my-4">House Rules</h2>
            <div class="input-content basic-information card">
              <div class="add-input card-body ">
                <div class="row">
                  <div class="col">
                    <div class="mb-5">
                      <div class="row mb-2">
                        <div class="col-xxl-10 col-xl-10 col-lg-10 col-md-10">
                          <span><i class="fa-regular fa-heart"></i> Smoking allowed</span>
                        </div>
                        <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2">
                          <mat-slide-toggle formControlName="smoking" name="smokingInput"></mat-slide-toggle>
                        </div>
                      </div>
                      <div class="row mb-2">
                        <div class="col-xxl-10 col-xl-10 col-lg-10 col-md-10">
                          <span><i class="fa-regular fa-heart"></i> Pet allowed</span>
                        </div>
                        <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2">
                          <mat-slide-toggle formControlName="pet" name="petInput"></mat-slide-toggle>
                        </div>
                      </div>
                      <!-- items -->
                      <div class="row mb-2">
                        <div class="col-xxl-10 col-xl-10 col-lg-10 col-md-10">
                          <span><i class="fa-regular fa-heart"></i> Children allowed</span>
                        </div>
                        <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2">
                          <mat-slide-toggle formControlName="children" name="childrenInput"></mat-slide-toggle>
                        </div>
                      </div>
                      <!-- items -->
                      <div class="row mb-2">
                        <div class="col-xxl-10 col-xl-10 col-lg-10 col-md-10">
                          <span><i class="fa-regular fa-heart"></i> Parties/envents allowed</span>
                        </div>
                        <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2">
                          <mat-slide-toggle formControlName="party" name="partyInput"></mat-slide-toggle>
                        </div>
                      </div>
                    </div>
                    <!-- <hr> -->
                    <!-- Checkin - Check out -->
                    <!-- <div>
                      <div class="row">
                        <div class="col-xxl-6 col-6 city-select">
                          <h6 class="mb-0">Check-in <span class="text-danger">*</span></h6>
                          <mat-form-field appearance="outline" class="w-100 select-form">
                            <mat-select name="check-in" formControlName="checkIn" required>
                              <mat-option value="12">12:00</mat-option>
                              <mat-option value="13">13:00</mat-option>
                              <mat-option value="14">14:00</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                        <div class="col-xxl-6 col-6 city-select">
                          <h6 class="mb-0">Check-out <span class="text-danger">*</span></h6>
                          <mat-form-field appearance="outline" class="w-100 select-form">
                            <mat-select name="check-out" formControlName="checkOut" required>
                              <mat-option value="10">10:00</mat-option>
                              <mat-option value="11">11:00</mat-option>
                              <mat-option value="12">12:00</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                      </div>
                    </div> -->
                    <br>
                    <hr>
                    <div class="add-btn d-flex flex-row ">
                      <button class="btn-back" mat-raised-button matStepperPrevious>Back</button>
                      <button class="btn-next w-100" color="primary" mat-raised-button matStepperNext>Continue</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </form>
    </mat-step>

    <!-- Service -->
    <mat-step editable>
      <ng-template matStepLabel>Service</ng-template>

      <div class="row w-100 justify-content-center">
        <div class="col-xxl-8 col-xl-8 col-lg-9 col-9">
          <h2 class="my-4">What can pasengers use service at your homestay?</h2>
          <div class="input-content basic-information card">
            <div class="add-input card-body ">
              <div class="row">
                <div class="col">
                  <h5 class="mb-2">Common Service</h5>
                  <form [formGroup]="serviceFormGroup" (ngSubmit)="serviceForm()" #formour="ngForm">

                    <!-- breakfast -->
                    <div class="row mb-2">
                      <div
                        class="col-xxl-1 col-xl-1 col-lg-1 col-md-1 d-flex align-items-center p-0 justify-content-center">
                        <i class="fa-solid fa-pizza-slice"></i></div>
                      <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 d-flex align-items-center">
                        <span>Breakfast</span>
                      </div>
                      <div
                        class="col-xxl-1 col-xl-1 col-lg-1 col-md-1 d-flex align-items-center p-0 justify-content-center">
                        <mat-checkbox color="primary" formControlName="breakfast" name="breakfast"
                          (change)="enableInputBreakfast()"></mat-checkbox>
                      </div>
                      <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5">
                        <div class="col-input input-group">
                          <input name="breakfastInputt" type="number" pattern="[0~9]*" min="1000" class="form-control"
                            minlength="4" maxlength="10" matInput placeholder="Price" formControlName="breakfastPrice"
                            (required)="serviceFormGroup.controls.breakfast.value ? 'required' : ''"
                            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" />
                            <span class="input-group-text">VND</span>
                        </div>
                      </div>
                      <div class="col-xxl-1 col-xl-1 col-lg-1 col-lg-1"></div>
                    </div>
                    <!-- breakfast -->

                    <!-- Spa -->
                    <div class="row mb-2">
                      <div
                        class="col-xxl-1 col-xl-1 col-lg-1 col-md-1 d-flex align-items-center p-0 justify-content-center">
                        <i class="fa-solid fa-spa"></i>
                      </div>
                      <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 d-flex align-items-center">
                        <span>Spa</span>
                      </div>
                      <div
                        class="col-xxl-1 col-xl-1 col-lg-1 col-md-1 d-flex align-items-center p-0 justify-content-center">
                        <mat-checkbox color="primary" formControlName="spa" name="Spa"
                          (change)="enableInputSpa()"></mat-checkbox>
                      </div>
                      <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5">
                        <div class="col-input input-group">
                          <input name="ParkingInputt" type="number" pattern="[0~9]*" min="1000" class="form-control"
                            minlength="4" maxlength="10" matInput placeholder="Price" formControlName="spaPrice"
                            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" />
                            <span class="input-group-text">VND</span>
                          </div>
                      </div>
                      <div class="col-xxl-1 col-xl-1 col-lg-1 col-md-1"></div>
                    </div>

                    <!-- Airport transfers -->
                    <div class="row mb-2">
                      <div
                        class="col-xxl-1 col-xl-1 col-lg-1 col-md-1 d-flex align-items-center p-0 justify-content-center">
                        <i class="fa-solid fa-car"></i>
                      </div>
                      <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 d-flex align-items-center">
                        <span>Airport Transfers (Sedan)</span>
                      </div>
                      <div
                        class="col-xxl-1 col-xl-1 col-lg-1 col-md-1 d-flex align-items-center p-0 justify-content-center">
                        <mat-checkbox color="primary" formControlName="airportShuttle" name="AirportShuttle"
                          (change)="enableInputAirportShuttle()"></mat-checkbox>
                      </div>
                      <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5">
                        <div class="col-input input-group">
                          <input name="AirportShuttleInput" type="number" pattern="[0~9]*" min="1000"
                            class="form-control" minlength="4" maxlength="10" matInput placeholder="Price"
                            formControlName="airportShuttlePrice"
                            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" />
                            <span class="input-group-text">VND</span>
                          </div>
                      </div>
                      <div class="col-xxl-1 col-xl-1 col-lg-1 col-md-1"></div>
                    </div>



                    <!-- Sauna -->
                    <div class="row mb-2">
                      <div
                        class="col-xxl-1 col-xl-1 col-lg-1 col-md-1 d-flex align-items-center p-0 justify-content-center">
                        <i class="fa-solid fa-temperature-high"></i>
                      </div>
                      <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 d-flex align-items-center">
                        <span>Sauna</span>
                      </div>
                      <div
                        class="col-xxl-1 col-xl-1 col-lg-1 col-md-1 d-flex align-items-center p-0 justify-content-center">
                        <mat-checkbox color="primary" formControlName="sauna" name="Sauna"
                          (change)="enableInputSauna()"></mat-checkbox>
                      </div>
                      <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5">
                        <div class="col-input input-group">
                          <input name="SaunaInputt" type="number" pattern="[0~9]*" min="1000" class="form-control"
                            minlength="4" maxlength="10" matInput placeholder="Price" formControlName="saunaPrice"
                            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" />
                            <span class="input-group-text">VND</span>
                          </div>
                      </div>
                      <div class="col-xxl-1 col-xl-1 col-lg-1 col-md-1"></div>
                    </div>
                  </form>
                  <br>
                  <hr>

                  <!-- Additional Service -->
                  <h5 class="mb-2">Additional Service</h5>
                  <div class="additional-facility">
                    <div *ngFor="let value of newService; let i = index">
                      <div class="row mb-2">
                        <div class="col-xxl-1 col-xl-1 col-lg-1 col-md-1 d-flex align-items-center justify-content-center p-0">
                          <i class="fa-solid fa-plus"></i>
                        </div>
                        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
                          <input name="newService" type="text" class="form-control" placeholder="New Service"
                            [(ngModel)]="value.name" autocomplete="off" name="valueName{{i}}"
                            [ngModelOptions]="{standalone: true}" (required)="value.status ? 'required' : ''" />
                        </div>
                        <div class="col-xxl-1 col-xl-1 col-lg-1 col-md-1 d-flex align-items-center p-0 justify-content-center">
                          <mat-checkbox color="primary" [(ngModel)]="value.status" [ngModelOptions]="{standalone: true}"
                            name="valueStatus{{i}}"></mat-checkbox>
                        </div>
                        <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5">
                          <div class="col-input input-group">
                            <input name="price{{i}}" type="number" autocomplete="off" [disabled]="!value.status"
                              minlength="4" maxlength="10" pattern="[0~9]*" min="1" class="form-control" matInput
                              placeholder="Price" [(ngModel)]="value.price" (required)="value.status ? 'true' : 'false'"
                              [ngModelOptions]="{standalone: true}"
                              oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" />
                              <span class="input-group-text">VND</span>
                            </div>
                        </div>
                        <div
                          class="col-xxl-1 col-xl-1 col-lg-1 col-md-1 d-flex align-items-center p-0 justify-content-center click rounded-2"
                          matRipple (click)="removeService(i)">
                          <i class="fa-solid fa-xmark"></i>
                        </div>
                      </div>
                    </div>

                    <div class="click mb-2 rounded-3 btn-add-facility w-50 d-flex align-items-center" matRipple
                      (click)="addService()">
                      <div class="row w-100">
                        <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 d-flex align-items-center justify-content-center p-0">
                          <i class="fa-solid fa-plus"></i>
                        </div>
                        <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-8  d-flex align-items-center  ">
                          <h6 class="m-0">Add Service</h6>
                        </div>
                      </div>
                    </div>
                  </div>

                  <form [formGroup]="serviceFormGroup" (ngSubmit)="serviceForm()" #formour="ngForm">
                    <!-- Button -->
                    <br>
                    <hr>
                    <div class="add-btn d-flex flex-row ">
                      <button class="btn-back" mat-raised-button matStepperPrevious>Back</button>
                      <button class="btn-next w-100" color="primary" mat-raised-button matStepperNext>Continue</button>
                    </div>
                  </form>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-step>
    <!-- Service -->

    <!-- Image -->
    <mat-step editable>
      <ng-template matStepLabel>Image</ng-template>
      <form>



        <div class="row w-100  justify-content-center">
          <div class="col-xxl-8 col-xl-8 col-lg-9 col-9">
            <h2 class="my-4">What does your homestay look like?</h2>
            <div class="input-content basic-information card">
              <div class="add-input card-body ">
                <div class="row">
                  <div class="col">
                    <div class="mb-5">
                      <div>

                      </div>
                      <div>
                        <p>
                          <span class="fw-bold text-break">Upload at least 5 photos of your homestay.</span>
                          <span class="text-break">The more you upload, the more likely you are to get bookings. You can
                            add more
                            later.</span>
                        </p>
                      </div>


                      <div ngx-dropzone class="upload" [multiple]="true" [accept]="'image/*'"
                        (change)="onSelectImageHomestay($event)">
                        <ngx-dropzone-label>
                          <div>
                            <i class="fas fa-cloud-upload-alt icon-upload"></i>
                            <header>Drop files here or click to upload *</header>
                          </div>
                        </ngx-dropzone-label>
                      </div>
                      <div *ngIf="homestayImageFiles.length">
                        <br>
                        <hr><br>
                      </div>

                      <div class="wrapper text-center" *ngFor="let f of homestayImageFiles">
                        <ngx-dropzone-image-preview class=" overflow-hidden " ngProjectAs="ngx-dropzone-preview"
                          [file]="f" [removable]="true" (removed)="onRemoveHomestayImage(f)">
                        </ngx-dropzone-image-preview>
                        <ngx-dropzone-label ngProjectAs="ngx-dropzone-preview" (removed)="onRemoveHomestayImage(f)">
                          {{ f.name }}
                        </ngx-dropzone-label>
                      </div>


                    </div>

                    <hr>

                    <div class="add-btn d-flex flex-row ">
                      <button class="btn-reset" mat-raised-button matStepperPrevious>Back</button>
                      <button class="btn-next w-100" color="primary" mat-raised-button type="submit "
                        (click)="validImageHomestay()">Continue</button>
                    </div>


                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>

      </form>



    </mat-step>
    <!-- Image -->

    <!-- Price -->
    <mat-step editable>
      <ng-template matStepLabel>Price</ng-template>
      <form>
        <div class="row w-100 justify-content-center">
          <div class="col-8 ">
            <h3 class="my-4">Set the price per night for this apartment</h3>
            <div class="d-flex  flex-column">
              <!-- Step 1 -->
              <div class="input-content basic-information card">
                <div class="add-input card-body pb-0 pt-3">
                  <div class="row">
                    <div>


                    </div>
                    <div class="col w-100 mb-5">
                      <h5>How much do you want to charge per night?</h5>

                      <div class="my-3">
                        <h6 class="mb-0">Price guests pay </h6>
                        <div class="input-group">
                          <span class="input-group-text">VNĐ</span>
                          <input type="number" min="1000" class="form-control" name="price" [(ngModel)]="price"
                            [ngModelOptions]="{standalone: true}" (input)="calcPriceTax($event)"
                            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                            maxlength="9" minlength="4" />
                        </div>
                        <p class="text-muted fs-6">Including taxes, commission and charges</p>

                      </div>
                      <div class="ps-4">
                        <span class="fs-5"> <span class="text-muted ">5.00%</span> Staywithme.com commisson</span>
                        <br>
                        <hr>
                        <span class="fs-5"><span class="text-muted">VNĐ {{ priceTax | number:'4.1-4' }}</span> Your
                          earnings (including
                          taxes)</span>
                      </div>
                      <br>
                      <hr>

                      <div class="add-btn d-flex flex-row ">
                        <button class="btn-reset" mat-raised-button matStepperPrevious>Back</button>
                        <button class="btn-next w-100" color="primary" mat-raised-button type="submit"
                          (click)="validPrice()">Continue</button>
                      </div>





                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>



    </mat-step>
    <!-- Price -->

    <!-- Overview -->
    <mat-step editable>
      <ng-template matStepLabel>Overview</ng-template>
      <form (ngSubmit)="register()">
        <div>


        </div>
        <div class="row w-100 justify-content-center">
          <div class="col-8 ">
            <h2 class="my-4">Overview Homestay</h2>
            <div class="d-flex  flex-column">
              <!-- Step 1 -->
              <div class="input-content basic-information card">
                <div class="add-input card-body pb-0 pt-3">
                  <div class="row">
                    <div class="col w-100">
                      <div class="row">
                        <div class="col-1 p-0 d-flex justify-content-center">
                          <i class="fa-solid fa-heart text-danger"></i>
                        </div>
                        <div class="col-10">
                          <p>Step 1</p>
                          <h5>Property details</h5>
                          <p class="text-break">The basics. Add your homestay name, address, facilities and more.</p>
                        </div>
                        <div class="col-1 d-flex justify-content-center align-items-center p-0">
                          <button mat-fab class="text-primary bg-body shadow-0 overflow-hidden" matRipple
                            matRippleColor="darkgray" (click)="step1()" type="button">Edit</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <br>

              <!-- Step 2 -->
              <div class="input-content basic-information card">
                <div class="add-input card-body pb-0 pt-3">
                  <div class="row">
                    <div class="col w-100">
                      <div class="row">
                        <div class="col-1 p-0 d-flex justify-content-center">
                          <i class="fa-solid fa-heart text-danger"></i>
                        </div>
                        <div class="col-9">
                          <p>Step 2</p>
                          <h5>Images</h5>
                          <p class="text-break">Share some images of your homestay so passengers know what to expect.
                          </p>
                        </div>
                        <div class="col-2 d-flex justify-content-center align-items-center p-0">
                          <button mat-raised-button color="primary" class="px-1 w-100" (click)="step5()"
                            type="button">Add
                            Image</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <!-- Step 3 -->
              <div class="input-content basic-information card">
                <div class="add-input card-body pb-0 pt-3">
                  <div class="row">
                    <div class="col w-100">
                      <div class="row">
                        <div class="col-1 p-0 d-flex justify-content-center">
                          <i class="fa-solid fa-heart text-danger"></i>
                        </div>
                        <div class="col-10">
                          <p>Step 3</p>
                          <h5>Price</h5>
                          <p class="text-break">Set the price per night for this homestay</p>
                        </div>
                        <div class="col-1 d-flex justify-content-center align-items-center p-0">
                          <button mat-fab class="text-primary bg-body shadow-0 overflow-hidden" matRipple
                            matRippleColor="darkgray" (click)="step6()" type="button">Edit</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <br>
            <div class="add-btn d-flex flex-row ">
              <button class="btn-back" mat-raised-button matStepperPrevious>Back</button>
              <button class="btn-next w-100 bg-success text-white" mat-raised-button type="submit"
                matStepperNext>Submit</button>
            </div>
          </div>

        </div>
      </form>



    </mat-step>
    <!-- Overview -->


  </mat-stepper>
</div>
