<section class="container vh-100">
<div class="row justify-content-center align-content-center h-100 ">
  <div class="col-10">
    <div class="card">
      <div class="card-body">
        <div class="row m-0 p-0">
          <div class="col">
            <div style="height: 120px " class="text-center">
              <img src="/assets/images/check.png" alt="" class="img-fluid h-100 ">
            </div>
            <div  class="text-center py-3" >
              <span class="fs-3 px-3 ">Payment success</span>
            </div>
            <div class="text-center">
              <a  class="fs-4 fw-medium text-secondary"  href="javascript:window.close();"> Close </a>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>
</section>
