<div class="container pt-5 mb-3">
  <div class="row w-100 justify-content-center">
    <div class="col-10">
      <a class="mb-3 text-black" routerLink="../PromotionOverview">
        <i class="fa-solid fa-arrow-left-long"></i> <span class="ms-2">Promotion</span>
      </a>
      <div class="card-header border-0">
        <div class="row w-100 m-0 p-0">
          <div class="col-10 m-0 p-0">
            <h1 class="">{{datas.name}}</h1>
          </div>
          <div class="col-2 m-0 p-0">
            <div>
              <small *ngIf="datas.status =='PROGRESSING'"
                class="d-inline-flex mb-3 px-2 py-1 fw-semibold text-success-emphasis bg-success-subtle border border-success-subtle rounded-2">{{datas.status}}</small>
              <small *ngIf="datas.status =='PENDING'"
                class="d-inline-flex mb-3 px-2 py-1 fw-semibold text-warning-emphasis bg-warning-subtle border border-warning-subtle rounded-2">{{datas.status}}</small>
              <small *ngIf="datas.status =='FINISHED' "
                class="d-inline-flex mb-3 px-2 py-1 fw-semibold border border-danger-subtle rounded-2">{{datas.status}}</small>
            </div>
          </div>
        </div>
      </div>
      <!-- Image -->
      <div class="card my-3">
        <!-- <div class="w-100 h-100 pe-2">
          <div class="w-100 h-100" style="
        background-size: cover;
        background-position: center; " [style.background-image]="'url('+ datas.thumbnailUrl +')'"></div>
        </div> -->

        <div class="row w-100 m-0 ">
          <div class="col p-0">
            <div class="w-100 pe-1 overflow-hidden" style="height:260px">
              <img [src]="datas.thumbnailUrl" class=" img-fluid w-100 h-100" >
            </div>
          </div>
        </div>
      </div>
      <!-- Basic information  -->
      <div class="card my-3">
        <div class="card">
          <div class="card-header">
            <div class="row w-100 m-0 p-0">
              <div class="col-8 m-0 p-0">
                <h4 class="posttitle-text mb-0">Basic Information</h4>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row w-100 p-0 m-0">
              <div class="col m-0 p-0 pe-2">
                <div class="row w-100 m-0 p-0">
                  <div class="col m-0 p-0">
                    <div class="row w-100 m-0 p-0">
                      <div class="col-3 m-0 p-0">
                        <span class="text-muted text-uppercase fs-7 text-break text-wrap">name</span>
                      </div>
                      <div class="col-9">
                        <span> {{datas.name}} </span>
                      </div>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="row w-100 m-0 p-0">
                  <div class="col m-0 p-0">
                    <div class="row w-100 m-0 p-0">
                      <div class="col-3 m-0 p-0">
                        <span class="text-muted text-uppercase fs-7 text-break text-wrap">Percent</span>
                      </div>
                      <div class="col-9">
                        <span> {{datas.discountPercent}} </span>
                      </div>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="row w-100 m-0 p-0">
                  <div class="col-6 m-0 p-0">
                    <div class="row w-100 m-0 p-0">
                      <div class="col-6 m-0 p-0">
                        <span class="text-muted text-uppercase">Start-day</span>
                      </div>
                      <div class="col-6">
                        <span> {{datas.startDate}} </span>
                      </div>
                    </div>
                  </div>
                  <div class="col-6 m-0 p-0">
                    <div class="row w-100 m-0 p-0">
                      <div class="col-6 m-0 p-0">
                        <span class="text-muted text-uppercase">End-day</span>
                      </div>
                      <div class="col-6">
                        <span> {{datas.endDate}} </span>
                      </div>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="row w-100 m-0 p-0">
                  <div class="col m-0 p-0">
                    <div class="row w-100 m-0 p-0">
                      <div class="col-3 m-0 p-0">
                        <span class="text-muted text-uppercase">description</span>
                      </div>
                      <div class="col-9">
                        <span> {{datas.description}} </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Homestay -->
      <div class="card my-3">
        <div class="card">
          <div class="card-header">
            <div class="row w-100 m-0 p-0">
              <div class="col-8 m-0 p-0">
                <h4 class="posttitle-text mb-0">Homestay</h4>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row w-100 p-0 m-0">
              <div class="col m-0 p-0 pe-2">
                <div class="row w-100 m-0 p-0">
                  <div class="col m-0 p-0">
                    <div class="row w-100 m-0 p-0">
                      <div class="col-3 p-0  m-0 mb-3" *ngFor="let item of datas.homestays">{{item.name}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Block Homestay -->
      <div class="card my-3">
        <div class="card">
          <div class="card-header">
            <div class="row w-100 m-0 p-0">
              <div class="col-8 m-0 p-0">
                <h4 class="posttitle-text mb-0">Block Homestay</h4>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row w-100 p-0 m-0">
              <div class="col m-0 p-0 pe-2">
                <div class="row w-100 m-0 p-0">
                  <div class="col m-0 p-0">
                    <div class="row w-100 m-0 p-0">
                      <div class="col-3 p-0 m-0" *ngFor="let item of datas.blocs">{{item.name}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
