<div class="container-fluid">
  <div class="header">
    <h1>Landlord Management</h1>
  </div>

  <div class="row">
    <div class="col  ">
      <div class="body card mb-4">
        <mat-tab-group>
          <!-- Pending -->
          <mat-tab label="Pending">


            <table class="table table-striped table-hover mt-2" style="height:60vh">
              <thead class="">
                <tr class="fw-5">
                  <th>ID</th>
                  <th>Name</th>
                  <th>Date</th>
                  <th>Accept / Reject</th>
                </tr>
              </thead>
              <tbody>
                <tr matRipple *ngFor="let post of valuesPending | paginate:{
                  id: 'paginationPending',
                  itemsPerPage: tableSizePending,
              currentPage: pagePending,
              totalItems: countPending
              };
              let i = index">


                  <td [style.cursor]="'pointer'" routerLink="AccountLandlordDetail"
                    (click)="onItemSelector(post.id, post.username)">
                    {{post.id}}
                  </td>
                  <td [style.cursor]="'pointer'" routerLink="AccountLandlordDetail"
                    (click)="onItemSelector(post.id, post.username)">
                    <div class="d-flex align-items-center">
                      <!-- <img [src]="getImageLandlord(post.avatarUrl)" alt="" style="width: 45px; height: 45px" class="rounded-circle" /> -->
                      <div class="">
                        <p class="fw-bold mb-1">{{post.username}}</p>
                        <p class="text-muted mb-0">{{post.email}}</p>
                      </div>
                    </div>
                  </td>
                  <td [style.cursor]="'pointer'" routerLink="AccountLandlordDetail"
                    (click)="onItemSelector(post.id, post.username)">
                    {{post.createdDate}}
                  </td>
                  <!-- <td>
                <button mat-icon-button color="primary" (click)="onItemSelector(post.id, post.username);"
                  routerLink="/Admin/Request/RequestAccount" routerLinkActive="active"><i
                    class="fa-solid fa-eye"></i></button>
                <button mat-icon-button color="accent" (click)="onItemSelector(post.id, post.username);"
                  (click)="accept()"><i class="fa-solid fa-check"></i></button>
                <button mat-icon-button color="warn" (click)="onItemSelector(post.id, post.username);"
                  (click)="reject()"><i class="fa-solid fa-xmark"></i></button>

              </td> -->
                  <td class="">
                    <!-- <mat-slide-toggle name="isChecked{{i}}" (click)="onItemSelector(post.id, post.username)"
                      (click)="openDialogAction()"></mat-slide-toggle> -->
                    <button mat-icon-button color="accent" (click)="onItemSelector(post.id, post.username);"
                      (click)="accept()"><i class="fa-solid fa-check"></i></button>
                    <button mat-icon-button color="warn" (click)="onItemSelector(post.id, post.username);"
                      (click)="openDialogAction()"><i class="fa-solid fa-xmark"></i></button>
                  </td>
                </tr>


                <tr *ngIf="valuesPending.length < 1">
                  <td></td>
                  <td>

                  </td>
                  <td></td>
                  <td></td>
                </tr>
                <tr *ngIf="valuesPending.length < 2">
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr *ngIf="valuesPending.length < 3">
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr *ngIf="valuesPending.length < 4">
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr *ngIf="valuesPending.length < 5">
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
            <!-- pagination -->
            <div class="row w-100">
              <div class="col-sm-6">

              </div>
              <div class="col-sm-6 d-flex justify-content-center">
                <pagination-controls id="paginationPending" previousLabel="Prev" nextLabel="Next"
                  (pageChange)="onTableDataChangePending($event)">
                </pagination-controls>
              </div>

            </div>
          </mat-tab>
          <mat-tab label="Activated">
            <table class="table table-striped table-hover mt-2" style="height:60vh">
              <thead class="">
                <tr class="fw-5">
                  <th>ID</th>
                  <th>Name</th>
                  <th>Date</th>
                  <th>Action Ban</th>
                </tr>
              </thead>
              <tbody style="height:30vh">
                <tr *ngFor="let post of valuesActive | paginate:{
                  id: 'paginationActivated',
                  itemsPerPage: tableSizeActive,
            currentPage: pageActive,
            totalItems: countActive}

          ;
          let i = index">


                  <td [style.cursor]="'pointer'" routerLink="AccountLandlordDetail"
                    (click)="onItemSelector(post.id, post.username)">
                    {{post.id}}

                  </td>
                  <td [style.cursor]="'pointer'" routerLink="AccountLandlordDetail"
                    (click)="onItemSelector(post.id, post.username)">
                    <div class="d-flex align-items-center">
                      <!-- <img [src]="getImageLandlord(post.avatarUrl)" alt="" style="width: 45px; height: 45px" class="rounded-circle" /> -->
                      <div class="">
                        <p class="fw-bold mb-1">{{post.username}}</p>
                        <p class="text-muted mb-0">{{post.email}}</p>
                      </div>
                    </div>
                  </td>
                  <td [style.cursor]="'pointer'" routerLink="AccountLandlordDetail"
                    (click)="onItemSelector(post.id, post.username)">{{post.createdDate}}
                  </td>

                  <td class="">
                    <!-- <button mat-icon-button color="accent" (click)="onItemSelector(post.id, post.username);"
                      (click)="accept()"><i class="fa-solid fa-check"></i></button> -->
                    <button mat-icon-button color="warn" (click)="onItemSelector(post.id, post.username);"
                      (click)="openDialogAction()"><i class="fa-solid fa-xmark"></i></button>
                  </td>
                </tr>
                <tr *ngIf="valuesActive.length < 1">
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr *ngIf="valuesActive.length < 2">
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr *ngIf="valuesActive.length < 3">
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr *ngIf="valuesActive.length < 4">
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr *ngIf="valuesActive.length < 5">
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
            <!-- pagination -->
            <div class="row w-100">
              <div class="col-sm-6">

              </div>
              <div class="col-sm-6 d-flex justify-content-center">
                <pagination-controls id="paginationActivated" previousLabel="Prev" nextLabel="Next"
                  (pageChange)="onTableDataChangeActive($event)">
                </pagination-controls>
              </div>

            </div>
          </mat-tab>
          <mat-tab label="Reject">
            <table class="table table-striped table-hover mt-2" style="height:60vh">
              <thead>
                <tr class="">
                  <th>ID</th>
                  <th>Name</th>
                  <th>Date</th>
                  <th>Active</th>
                </tr>
              </thead>
              <tbody style="height:30vh">
                <tr *ngFor="let post of valuesReject | paginate:{
                  id: 'paginationReject',
                  itemsPerPage: tableSizeReject,
            currentPage: pageReject,
            totalItems: countReject};
            let i = index">
                  <td [style.cursor]="'pointer'" routerLink="AccountLandlordDetail"
                    (click)="onItemSelector(post.id, post.username)">{{post.id}}</td>
                    <td [style.cursor]="'pointer'" routerLink="AccountLandlordDetail"
                    (click)="onItemSelector(post.id, post.username)">
                    <div class="d-flex align-items-center">
                      <!-- <img [src]="getImageLandlord(post.avatarUrl)" alt="" style="width: 45px; height: 45px" class="rounded-circle" /> -->
                      <div class="">
                        <p class="fw-bold mb-1">{{post.username}}</p>
                        <p class="text-muted mb-0">{{post.email}}</p>
                      </div>
                    </div>
                  </td>
                  <td [style.cursor]="'pointer'" routerLink="AccountLandlordDetail"
                    (click)="onItemSelector(post.id, post.username)">{{post.createdDate}}</td>
                  <td class="">
                    <!-- <button mat-icon-button color="primary" (click)="onItemSelector(post.id, post.username);"
                      routerLink="/Admin/Request/RequestAccount" routerLinkActive="active"><i
                        class="fa-solid fa-eye"></i></button> -->
                    <button mat-icon-button color="accent" (click)="onItemSelector(post.id, post.username);"
                      (click)="accept()"><i class="fa-solid fa-check"></i></button>
                    <!-- <button mat-icon-button color="warn" (click)="onItemSelector(post.id, post.username);"
                      (click)="openDialogAction()"><i class="fa-solid fa-xmark"></i></button> -->
                  </td>
                </tr>
                <tr *ngIf="valuesReject.length < 1">
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr *ngIf="valuesReject.length < 2">
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr *ngIf="valuesReject.length < 3">
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr *ngIf="valuesReject.length < 4">
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr *ngIf="valuesReject.length < 5">
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
            <!-- pagination -->
            <div class="row w-100">
              <div class="col-sm-6">

              </div>
              <div class="col-sm-6 d-flex justify-content-center">
                <pagination-controls id="paginationReject" previousLabel="Prev" nextLabel="Next"
                  (pageChange)="onTableDataChangeReject($event)">
                </pagination-controls>
              </div>

            </div>
          </mat-tab>
          <!-- <mat-tab label="Banned">
            <table class="table table-striped table-hover mt-2" style="height:60vh">
              <thead class="">
                <tr class="">
                  <th>ID</th>
                  <th>Name</th>
                  <th>Date</th>
                  <th>Accept Action</th>
                </tr>
              </thead>
              <tbody style="height:30vh">
                <tr *ngFor="let post of valuesBanned | paginate:{
            itemsPerPage: tableSize,
            currentPage: page,
            totalItems: count}

          ;
          let i = index">
                  <td [style.cursor]="'pointer'" routerLink="AccountLandlordDetail"
                    (click)="onItemSelector(post.id, post.username)">{{post.id}}</td>
                  <td [style.cursor]="'pointer'" routerLink="AccountLandlordDetail"
                    (click)="onItemSelector(post.id, post.username)">{{post.username}}</td>
                  <td [style.cursor]="'pointer'" routerLink="AccountLandlordDetail"
                    (click)="onItemSelector(post.id, post.username)">{{post.createdDate}}</td>


                  <td class="">
                     <button mat-icon-button color="primary" (click)="onItemSelector(post.id, post.username);"
                      routerLink="/Admin/Request/RequestAccount" routerLinkActive="active"><i
                        class="fa-solid fa-eye"></i></button>
                    <button mat-icon-button color="accent" (click)="onItemSelector(post.id, post.username);"
                      (click)="accept()"><i class="fa-solid fa-check"></i></button>
                     <button mat-icon-button color="warn" (click)="onItemSelector(post.id, post.username);"
                      (click)="reject()"><i class="fa-solid fa-xmark"></i></button>
                  </td>
                </tr>
                <tr *ngIf="valuesBanned.length < 1">
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr *ngIf="valuesBanned.length < 2">
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr *ngIf="valuesBanned.length < 3">
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr *ngIf="valuesBanned.length < 4">
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr *ngIf="valuesBanned.length < 5">
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
             pagination
            <div class="row w-100">
              <div class="col-sm-6">

              </div>
              <div class="col-sm-6 d-flex justify-content-center">
                <pagination-controls previousLabel="Prev" nextLabel="Next"
                  (pageChange)="onTableDataChangeBanned($event)">
                </pagination-controls>
              </div>

            </div>
          </mat-tab> -->


        </mat-tab-group>

      </div>
    </div>

  </div>


</div>
